// LAYOUT BREAKPOINTS
$break-narrow: "(max-width: 540px)";
$break-normal-narrow: "(min-width: 541px) and (max-width: 740px)";
$break-normal: "(min-width: 741px) and (max-width: 1280px)";
$break-wide: "(min-width: 1281px)";

$header-height: 70px;

// COLOURS
$clr1: #1B1A20;
$clr2: #fff;
$clr3: rgb(177, 174, 174);
$clr4: #FF0E39;

