.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: $clr1;
    height: $header-height;
    @media #{$break-normal}, #{$break-wide} {
        margin: 0 2rem;
    }
    @media #{$break-normal-narrow}, #{$break-narrow} {
        margin: 0 1rem;
    }

    .logo{
        line-height: 1.5em;
        font-size: 2em;
        color: $clr4;
        cursor: pointer;
    }

    #navMenuBtn{
        display: none;
    }

    #navMenuBtn:checked ~ .nav{
        display: block;
    }

    .menu-btn{
        @media #{$break-normal}, #{$break-wide} {
            display: none;
        }
        &-icon{
            height: 2em;
            cursor: pointer;
        }
    }
}
