.cast {
  order: 3;
  display: flex;
  align-self: stretch;
  overflow-y: hidden;
  
  @media #{$break-normal}, #{$break-wide} {
    overflow-x: hidden;
    margin-top: 150px;
    display: none;
  }
  
  @media #{$break-narrow}, #{$break-normal-narrow} {
    overflow-x: auto;
  }
}

.cast-minified {
  order: 3;
  // display: flex;
  align-self: stretch;
  overflow-y: hidden;
  &-list{
    display: flex;
    margin-bottom: 1rem;
  }

  .btn{
    text-decoration: underline;
  }
  
  @media #{$break-normal}, #{$break-wide} {
    overflow-x: hidden;
    margin-top: 150px;
  }
  
  @media #{$break-narrow}, #{$break-normal-narrow} {
    display: none;
  }
}

.actor-list{
  display: flex;
  flex-flow: row wrap;
  width: 408px;
  margin: auto;
  .actor {
    margin-bottom: 1rem;
  }
}
.actor {
  text-align: center;
  width: 70px;
  min-width: 70px;

  &:not(:last-of-type) {
    margin-right: 2rem;
  }

  &-img {
    border-radius: 7px;
    background: $clr2;
    object-fit: cover;
    width: 45px;
    height: 68px;
  }
}
